$blue: #1352A2;
$twitter: #4990E2;
$pink: #F97572;
$black: #333332;
$gray: lighten($black, 50%);
$offwhite: #F0F1EE;
$yellow: #FFD464;
$green: #5AAD5C;
$purple: #704996;

* {
    box-sizing: border-box;
}

body {
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: $offwhite;
	background: $blue;
	text-align: center;
	position: relative;
	height: 100%;
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $pink;
	}
}

.fa {
    color: $offwhite;
}